<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exercise 5.2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar">
            <li class="nav-item active">
              <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact Us</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <br /><br />
        <h2>Composers</h2>
        <!--This will iterate through the names and display them on the page-->
        <% if(names.length > 0) { %>
            <% for (var k = 0; k < names.length; k++) { %>
                <div class="alert alert-success"><strong><%= names [k] %></strong></div>
            <% } %>
        <% } %>
    </div>

</body>
</html>