<!--
    Title: EMS
    Author: Travis Rosen
    Date: 4/25/2021
    Description: Index Page
-->
<%- include ('header'); -%>

<body class="bg-dark">
    <%- include ('navbar'); -%>
    <br><br>
    <div class="container">
        <div class="card-columns">
            <div class="card" style="width: 1000px; border: #043152;border-radius: 10px;">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">This is a Title</h4>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem recusandae similique rerum porro est culpa voluptate, adipisci animi placeat et fuga, debitis, eaque in nam id. Pariatur quidem aspernatur velit?</p>
                </div>
            </div>
            <br>
            <div class="card" style="width: 1000px; border: #043152;border-radius: 10px;">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">This is a Title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, atque, obcaecati dolorem aspernatur, eaque blanditiis amet perspiciatis sit magnam repudiandae maxime voluptate quidem nam rem consequatur! Quia assumenda illum ex!/</p>
                </div>
            </div>
            <br>
            <div class="card" style="width: 1000px; border: #043152;border-radius: 10px;">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">This is a title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus enim repudiandae fugit corrupti nemo voluptatem temporibus, animi nulla soluta necessitatibus, dignissimos ex iste fugiat, blanditiis nesciunt voluptates vero veniam itaque?</p>
                </div>
            </div>
        </div>
    </div>
    <%- include ('footer'); -%>
    </div>
</body>