<!--
Title: about.ejs
Author: Travis Rosen
Date: 4/3/2021
Description: This is the about page for views folder.
-->

<!--This will include the header.ejs file.-->
<%- include('header'); -%>
<!--This is the div container that will display the message from the javascript.-->
<div class="container" role="main">
    <br /><br />
    <h2>Welcome to the <%= message %>!</h2>
</div>
<!--This will include the footer.ejs file.-->
<%- include('footer'); -%>
